<div class="right-aside-follow">
  <div class="right-aside-entry">
    <%= user_pic(user, image_class: 'round-thumbnail') %>
    <div class="follower-text">
      <p class="black-text"><%= user.full_name %></p>
      <%= link_to "@#{user.username}", user %>
    </div>
  </div>
  <div>
    <%= link_to followings_path(follower: current_user.id, followed: user.id),
     method: 'post' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
