/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 200px;
  color: #657b92;
  text-transform: uppercase;
}

.user-information {
  background-color: #1b2a3d;
}

.navbar-pic-thumbnail {
  padding: 15px;
}

.navigation-links {
  background-color: #213246;
  list-style: none;
  margin: 0;
}

.navigation-links > li {

}
