// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$content-border: 1px solid #e8e8e8;

main {
  margin-left: 250px;
  margin-right: 275px;
  height: 100%;
  color: #a8a8a8;
}

.main-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  border: $content-border;
  margin-bottom: 25px;
}

#opinions {
  padding: 28px;
}

.tabs-menu {
  font-size: 12px;
  height: 65px;
  width: 100%;
  border-bottom: $content-border;
  display: flex;
  align-items: center;
}

.open-tab {
  width: 90px;
  height: 63px;
  line-height: 63px;
  color: #212d3c;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #3d98df;
}

.new-rating {
  font-size: 14px;
}

.form-label {
  padding-bottom: 10px;
}

.input-field {
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #a8a8a8;
  width: 100%;
}

.right-aside {
  position: absolute;
  right: 0;
  top: 80px;
  width: 275px;
  border-left: $content-border;
  height: 100%;
}

.right-aside-section {
  border-bottom: $content-border;
  padding: 20px;
}

.right-aside-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $content-border;
  font-size: 13px;
  line-height: 14px;
  padding-top: 0;
  padding-bottom: 30px;
}

.right-aside-entry {
  display: flex;
  align-items: center;
}

.round-thumbnail {
  display: block;
  padding-right: 15px;
  padding-top: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-entry-name {
  color: #333;
}

.small-text {
  font-size: 12px;
}

.user-link {
  color: #79b4e2;
}

.main-rating {
  display: flex;
  align-items: center;
}

.new-ratings-count {
  color: #79b4e2;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: $content-border;
}

.no-left-padding {
  padding-left: 0 !important;
}

.cover-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.pic-and-name {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.summary-pic {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.summary-stats {
  border-top: $content-border;
  border-bottom: $content-border;
  display: flex;
  text-align: center;
  height: 65px;
}

.stats-entry {
  width: 33.3%;
  margin: auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

.middle-borders {
  border-right: $content-border !important;
  border-left: $content-border !important;
}
